<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<app-menu-items></app-menu-items>

<div class="bg-image">
  
</div>

<body id="main">
    
     <div class="container">  
       <div id="tribute-info" class="well">
        <h1>OUR CONSTRUCTION BROCHURE:</h1>
          
         <div class="row">
          
          <div class="col-45"> 
            <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
  
              <!-- Indicators -->
              <!-- <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
                <li data-target="#myCarousel" data-slide-to="3"></li>
                <li data-target="#myCarousel" data-slide-to="4"></li>
                <li data-target="#myCarousel" data-slide-to="5"></li>
                <li data-target="#myCarousel" data-slide-to="6"></li>
                <li data-target="#myCarousel" data-slide-to="7"></li>
                <li data-target="#myCarousel" data-slide-to="8"></li>
              </ol>-->
                 <div class="carousel-indicators">
                  <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
                  <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
                  <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
                  <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="4" aria-label="Slide 5"></button>
                  <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="5" aria-label="Slide 6"></button>
                  <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="6" aria-label="Slide 7"></button>
                  <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="7" aria-label="Slide 8"></button>
                  <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="8" aria-label="Slide 9"></button>
                  <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="9" aria-label="Slide 10"></button>
                  <!-- <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="10" aria-label="Slide 3"></button> -->
                </div>
               
                <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              
  
              <!-- Wrapper for slides -->
        
              <div class="carousel-inner" role="listbox">
                <div id="img-div" class="carousel-item active">
                  <img id="image" src="../../assets/images/11.jpg" alt="my love" class="d-block w-100">
                  <div class="carousel-caption">
                    <h3 id="img-caption">We are just making sure it works  <span class="glyphicon glyphicon-heart"> </span></h3>
                  </div>
                </div>
                
                <div class="carousel-item">
                  <div class="carousel-caption">
                    <h3>We are just making sure it works .</h3>
                  </div>
                  <img src="../../assets/images/1.jpg" alt="Sharing" class="d-block w-100">
                </div>
  
                <div class="carousel-item">
                  <div class="carousel-caption">
                    <h3>We are just making sure it works .</h3>
                  </div>
                  <img src="../../assets/images/2.jpg" alt="Tulips" class="d-block w-100">
                </div>
  
                <div class="carousel-item">
                  <img src="../../assets/images/3.jpg" alt="Our Cuties" class="d-block w-100">
                  <div class="carousel-caption">
                    <h3>We are just making sure it works </h3>
                  </div>
                </div>
  
                <div class="carousel-item">
                  <img src="../../assets/images/4.jpg" alt="Slippers" class="d-block w-100">
                  <div class="carousel-caption">
                    <h3>We are just making sure it works </h3>
                  </div>
                </div>
  
                <div class="carousel-item">
                  <img src="../../assets/images/5.jpg" alt="Nap" class="d-block w-100">
                  <div class="carousel-caption">
                    <h3>We are just making sure it works </h3>
                  </div>
                </div>
  
                <div class="carousel-item">
                  <img src="../../assets/images/6.jpg" alt="Nap" class="d-block w-100">
                  <div class="carousel-caption">
                    <h3>We are just making sure it works </h3>
                  </div>
                </div>
  
                <div class="carousel-item">
                  <img src="../../assets/images/7.jpg" alt="Flower" class="d-block w-100">
                  <div class="carousel-caption">
                    <h3>We are just making sure it works </h3>
                  </div>
                </div>
                
                <div class="carousel-item">
                  <img src="../../assets/images/8.jpg" alt="Hippo" class="d-block w-100">
                </div>
                
              </div>
         
              <!-- Left and right controls -->
              <!--<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">           
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              
              <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next"> 
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>-->
  
            </div>
          </div> 
          
          <div class="col-50">
            <!-- <ul class="list-group">
              <li class="list-group-item">We are just making sure it works </li>
              <li class="list-group-item">We are just making sure it works </li>
              <li class="list-group-item">We are just making sure it works </li>
              <li class="list-group-item">We are just making sure it works </li>
              <li class="list-group-item">We are just making sure it works </li>
              <li class="list-group-item">We are just making sure it works </li>
              <li class="list-group-item">We are just making sure it works </li>
              <li class="list-group-item">We are just making sure it works </li>
              <li class="list-group-item">We are just making sure it works </li>
            </ul> -->

            <h3>We Help with Metal Work</h3>
            <h1>Metal Work</h1>

            <div class="separator-line bg-yellow"></div>
            <p>A five-star Hotel consisting of 250 rooms. Several contracts were assigned to DIS
              Group during both the construction phase as well as the refurbishment phase,
              at a later stage. Manufacturing and installation of balcony railings;</p><p> boundary
              railings; fire-escape stairwells; straight, curved and spiral staircases; soft furnishings
              (bed stands, mirrors, coffee tables, chairs etc...) as well as the restoration of the
              400-year old fortification, located in the hotel grounds.</p>
           
          </div>
          
        </div>
       </div>
     </div> 
   
     <app-footer></app-footer>

     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>