
<app-menu-items></app-menu-items>
<div class="bg-image">
    <h1>TRANSPORT AND LOGISTICS</h1>
</div>

<section>
    <div class="container">
        <div class="row gap100">
            <div class="col-md-6">
                <!-- <h4>efficient and environmentally friendly logistics solutions</h4> -->
                <h1>Sea transport</h1>
                <p>Geminor collaborates with major players in shipping and port operations in Europe. We have invested in several HUBs in recipient countries to optimize logistics and ensure
                     added value for our customers through increased waste processing before recycling.<br>

                    We use a number of solutions for sea transport: Containers, Ro-Ro, bulk carriers, 
                    cassettes and side port boats. All sea transport consists of return cargoes - that is, the ships have delivered goods and the waste is transported on the way home. <br>
                    
                    Geminor performs strict quality control to ensure that the waste meets the reception facility's requirements specification. The packaging of ballet waste is important to ensure optimal transport conditions and minimal waste.<br>
                    
                    Our TFS team consists of Danish-, Finnish-, Dutch-, German-, Swedish- and Norwegian-speaking personnel who ensure that Geminor complies with the requirements for export and import in each country.</p>
            </div>
            <div class="col-md-6">
              <img src="../../assets/images/12.jpg"  class="img-fluid" alt="">
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row gap100">
            <div class="col-md-6">
                <img src="../../assets/images/12.jpg"  class="img-fluid" alt="">
                
            </div>
            <div class="col-md-6">
                <!-- <h4>efficient and environmentally friendly logistics solutions</h4> -->
                <h1>Road transport</h1>
                <p>Geminor handles the logistics of road transport for our customers in Europe. The logistics are controlled from our offices, which means that we can quickly handle challenges should these arise.

                We have contracts with large logistics companies in Europe, and also use local transport companies in each country. Geminor always works to optimize transport capacity and reduce CO2 emissions by using return transport.</p>
            </div>
        </div>
    </div>
</section>

<app-footer></app-footer>



