<div class="section">
    <div class="container">
        <div class="title">
            <h1>About us</h1>
        </div>
        <div class="content">
            <div class="article">
                <p>
                    Daniel Farrugia is the Group’s CEO. He comes from an engineering background and was involved
                     in several civil engineering and waste management projects in his 25+ years career. 
                     The group absorbed two other companies (Dolphin Forge and DIS) 
                    which were involved in steel manufacturing and steel reinforcement projects. 

                    Daniel Farrugia is the Group’s CEO. He comes from an engineering background and was involved
                    in several civil engineering and waste management projects in his 25+ years career. 
                    The group absorbed two other companies (Dolphin Forge and DIS) 
                   which were involved in steel manufacturing and steel reinforcement projects. 
                </p>
            </div>
        </div>

        <div class="image-section">
            <img src="../../assets/images/4.jpg">
        </div>

      <!-- <div class="social">
            <a href=""><i class="fab fa-facebook-f" aria-hidden="true"></i></a>
            <a href=""><i class="fab fa-twitter" aria-hidden="true"></i></a>
            <a href=""><i class="fab fa-instagram" aria-hidden="true"></i></a>
            
        </div>--> 
        <div class="social">
            <a href=""><i class="" aria-hidden="true"></i></a>
            <a href=""><i class="" aria-hidden="true"></i></a>
            <a href=""><i class="" aria-hidden="true"></i></a>
            
        </div>
    </div>
</div>
