

<app-menu-items></app-menu-items>



<!-- <div class="services-text">
    <h5>OUR SERVICES</h5>
</div> -->

<!-- <div class="row">
    <div class="column">
        <img src="../../assets/images/8.jpg" width="100%">
    </div>

    <div class="column">
        <img src="../../assets/images/11.jpg" width="100%">
    </div>

    <div class="column">
        <img src="../../assets/images/4.jpg" width="100%">
    </div>
</div> -->

<div class="heading-text">
    <div class="col-xs-12 col-md-12 col-sm-12 text-center">
        <h1>
            WASTE
            <span class="heading-color">
                MANAGEMENT
            </span>
            
        </h1>
    
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.<br>
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
    </div>

    
</div>

<div class="container">
    <div class="row justify-content-center">

        <div class="col-md-4">
            <div class="card shadow" style="width: 25rem;">
                <div class="inner">
                    <img class="card-img-top" src="../../assets/images/8.jpg"  width="2rem">
                </div>
                <div class="card-body">
                  <h5 class="card-title">Waste treatment</h5>
                  <p class="card-text">Our Business prides itself with providing the environment friendly way to recycle</p>
                  <a href="#" class="btn btn-success">Learn more</a>
                </div>
              </div>
        </div>
        <!-- <div class="col-md-4">
            <div class="card shadow" style="width: 25rem;">
                <div class="inner">
                    <img class="card-img-top" src="../../assets/images/11.jpg"  width="2rem">
                </div>
                
                <div class="card-body">
                  <h5 class="card-title">RECYCLING</h5>
                  <p class="card-text">Our Business prides itself with providing the environment friendly way to recycle</p>
                  <a href="#" class="btn btn-success">Learn more</a>
                </div>
              </div>
        </div> -->
        <div class="col-md-4">
            <div class="card shadow" style="width: 25rem;">
                <div class="inner">
                    <img class="card-img-top" src="../../assets/images/4.jpg"  width="2rem">
                </div>
                <div class="card-body">
                  <h5 class="card-title">WASTE MANAGEMENT</h5>
                  <p class="card-text">Our Business prides itself with providing the environment friendly way to recycle</p>
                  <a href="#" class="btn btn-success">Learn more</a>
                </div>
              </div>
        </div>


    </div>
</div>

<app-footer></app-footer>