body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
}

.heading h1 {
    margin-top: 100px;
    font-size: 50px;
    text-align: center;


}

.content h3 {
    margin-top: 20px;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container .box {
    position: relative;
    width: 350px;
    padding: 40px;
    background: #fff;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    border-radius: 5px;
    margin: 20px;
    text-align: center;
    box-sizing: border-box;
    // overflow: hidden;

}

.container .box .number {
    position: relative;
    width: 80px;
    height: 80px;
    color: #fff;
    background: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    border-radius: 50%;
    font-size: 40px;
    font-weight: 700;
    transition: 1s;
}

.container .box:nth-child(1) .number {
    background: #FDEC00;
}
.container .box:nth-child(1):hover .number {
    box-shadow: 0 0 0 400px #FDEC00;
}

.container .box:nth-child(2) .number {
    background: #FDEC00;
}
.container .box:nth-child(2):hover .number {
    box-shadow: 0 0 0 400px #FDEC00;
}

.container .box:nth-child(3) .number {
    background:  #FDEC00;
}
.container .box:nth-child(2):hover .number {
    box-shadow: 0 0 0 400px #FDEC00;
}

.bg-image {
    position: relative; 
    height: 50vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bg-image::before {    
      content: "";
      background-image: url('../../assets/images/train-60539_1920.jpg');
      background-size: cover;
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      opacity: 0.75;
      background-position: center;
}

.btn{
    background-color: #333;
    // background-color:  #4d4dff;
}

.inner {
    overflow: hidden;
}

.inner img{
    transition: all 1.5s ease;
}

.inner:hover img{
    transform: scale(1.5);
}
